[submodule "hal"]
	path = hal
	url = git@github.com:STMicroelectronics/stm32h7xx-hal-driver.git
[submodule "lib/CMSIS_5"]
	path = lib/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "lib/cmsis-device-h7"]
	path = lib/cmsis-device-h7
	url = https://github.com/STMicroelectronics/cmsis-device-h7.git
[submodule "lib/stm32h7xx_hal_driver"]
	path = lib/stm32h7xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32h7xx_hal_driver.git
[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/lwip"]
	path = lib/lwip
	url = git@github.com:lwip-tcpip/lwip.git
